<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fcukgfw.lt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launhcer"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.qd.gah.u2bplayer.InitActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/InitTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.qd.gah.u2bplayer.HomeActivity" />
        <activity android:name="com.qd.gah.u2bplayer.SearchActivity"  
           		 android:configChanges="orientation|screenSize"
            />
        <activity android:name="com.qd.gah.u2bplayer.VideosInVideoCategoryActivity"  
           		 android:configChanges="orientation|screenSize"
            />
        <activity
            android:name="com.qd.gah.u2bplayer.GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/InitTheme" />
         <activity android:name="com.ijiaban.youtubeplayer.ui.MainActiivty"
              android:configChanges="orientation|screenSize"/>
        <activity android:name="com.qd.gah.u2bplayer.VideoPlayActivity"
             android:configChanges="orientation|screenSize"/>
        <activity android:name="com.qd.gah.u2bplayer.ChannelActivity"
             android:configChanges="orientation|screenSize" />
        <activity android:name="com.qd.gah.u2bplayer.BofangActivity"
             android:configChanges="orientation|screenSize" />
        <activity android:name="com.qd.gah.u2bplayer.LieBiaoActivity"
             android:configChanges="orientation|screenSize"/>
         <activity android:name="com.qd.gah.u2bplayer.VideosWithDragpannelActivity"
              android:configChanges="orientation|screenSize"/>
         <activity android:name="com.qd.gah.u2bplayer.ChannelWithSearchActivity"/>
          <!-- Activity required to show ad overlays. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
    </application>

</manifest>
